.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  margin: 0;
}

.coin {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  margin: 0;
}

.coin {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 2px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #bbb;
}


.nav-links .logout {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links .logout:hover {
  background-color: white;
  color: black;
  border-color: white;
}